### Simple example working with pandas and using *json* for data storage

In [1]:
import pandas as pd, numpy as np

# Create an example dataframe
df = pd.DataFrame(np.random.randn(10, 5),
                 columns=['a', 'b', 'c', 'd', 'e'])
df

          a         b         c         d         e
0 -0.994169  0.198525 -0.348330  0.640503 -0.584309
1  3.052531  0.459125  0.470657 -1.588069 -1.442118
2 -0.239545 -1.928912  0.166675 -1.775281  0.840449
3  0.206438  1.503132  1.200916 -1.108980  2.248569
4 -0.982953  1.044661 -1.995169  0.186977 -0.104672
5 -0.279187  0.024367  0.491712 -1.428472 -0.309286
6 -0.043147 -0.359872 -0.751858  0.814149  1.296860
7 -0.254898 -1.193917 -0.008073  2.890353 -0.128195
8 -1.368549 -0.936744  2.660104 -0.689857  0.259947
9 -0.579254 -1.471567  0.280798  0.785403  0.420192

In [2]:
# Saving a dataframe to a json file.
# Note: need to include 'orient = 'records'' argument because default arg of 'orient = 'index'' 
# causes bug whereby index is converted to float.
# See https://github.com/pandas-dev/pandas/issues/12866
df.to_json('./df.json', orient='records')

In [3]:
# Read the json data file back into pandas, into to a new dataframe.
df2 = pd.read_json('./df.json')
df2

          a         b         c         d         e
0 -0.994169  0.198525 -0.348330  0.640503 -0.584309
1  3.052531  0.459125  0.470657 -1.588069 -1.442118
2 -0.239545 -1.928912  0.166675 -1.775281  0.840449
3  0.206438  1.503132  1.200916 -1.108980  2.248569
4 -0.982953  1.044661 -1.995169  0.186977 -0.104672
5 -0.279187  0.024367  0.491712 -1.428472 -0.309286
6 -0.043147 -0.359872 -0.751858  0.814149  1.296860
7 -0.254898 -1.193917 -0.008073  2.890353 -0.128195
8 -1.368549 -0.936744  2.660104 -0.689857  0.259947
9 -0.579254 -1.471567  0.280798  0.785403  0.420192

In [4]:
# Edit some data in the dataframe
df2.loc[3,'a'] = 'Fish'
new_row = [{'a':11,'b':'mushrooms','c':3.7,'d':'pi','e':'foo'}]
df2 = df2.append(new_row, ignore_index=True)
df2

            a          b         c         d         e
0   -0.994169   0.198525 -0.348330  0.640503 -0.584309
1     3.05253   0.459125  0.470657  -1.58807  -1.44212
2   -0.239545   -1.92891  0.166675  -1.77528  0.840449
3        Fish    1.50313  1.200916  -1.10898   2.24857
4   -0.982953    1.04466 -1.995169  0.186977 -0.104672
5   -0.279187  0.0243666  0.491712  -1.42847 -0.309286
6  -0.0431472  -0.359872 -0.751858  0.814149   1.29686
7   -0.254898   -1.19392 -0.008073   2.89035 -0.128195
8    -1.36855  -0.936744  2.660104 -0.689857  0.259947
9   -0.579254   -1.47157  0.280798  0.785403  0.420192
10         11  mushrooms  3.700000        pi       foo

In [5]:
# Save the changes back to a new json file.
df2.to_json('./df2.json', orient = 'records')

In [6]:
# Load the changed dataframe into pandas from new json file.
df3 = pd.read_json('./df2.json')
df3

            a          b         c         d         e
0   -0.994169   0.198525 -0.348330  0.640503 -0.584309
1     3.05253   0.459125  0.470657  -1.58807  -1.44212
2   -0.239545   -1.92891  0.166675  -1.77528  0.840449
3        Fish    1.50313  1.200916  -1.10898   2.24857
4   -0.982953    1.04466 -1.995169  0.186977 -0.104672
5   -0.279187  0.0243666  0.491712  -1.42847 -0.309286
6  -0.0431472  -0.359872 -0.751858  0.814149   1.29686
7   -0.254898   -1.19392 -0.008073   2.89035 -0.128195
8    -1.36855  -0.936744  2.660104 -0.689857  0.259947
9   -0.579254   -1.47157  0.280798  0.785403  0.420192
10         11  mushrooms  3.700000        pi       foo